
$bj_1: #00BCD4;
$c_1: #fff;
$c_2: rgba(0, 0, 0, 0.5);
$c_3: #ff4081;
$c_4: #fafafa;
$c_5: #ff4081;
$c_6: #727272;

body{
  font-family:sans-serif;
  margin:0;
  color:$c_6;
  line-height:1.8;
  -webkit-font-smoothing: antialiased;
}
p{margin:0;}
*{
  box-sizing:border-box;
}
a{
  text-decoration:none;
}
ul,ol{padding:0;}
li{list-style:none;}
.page1{
   color:$c_2;
}
.app-wrap{
   flex-direction: column;
   height:100vh;
   display:flex;
   .app-header{

     height: 80px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom: 2px solid  #fff59d;
     flex-shrink: 0;
     background:$bj_1;
     color:$c_1;
     font-weight:300px;




    .button{
      padding:15px 10px;
      border-radius:10px;
      background:rgba(0, 0, 0, 0.1);
      color:$c_1;
      font-size:11px;
    }
   }

   .app-footer{
     height:80px;
     flex-shrink:0;
     display:flex;
     background:$bj_1;
     border-top:1px solid #e6e6e6;
     a{
       flex-grow:1;
       display:block;

       color:$c_1;
       text-shadow:3px 3px 0px rgba(0,0,0,.1);
       padding:15px;
       text-align:center;

       &:hover{
         border-bottom:4px solid $c_3;
       }
       i{
         font-size:25px;
         display:block;
         padding-bottom:10px;
       }
     }
     a.active{
       border-bottom:4px solid $c_3;
     }
   }

}
.sidebar{
  display: none;
  width: 300px;
  flex-shrink: 0;
  h2{
    margin:0;padding:20px;
    text-align:center;
    border-bottom:2px solid #fff59d;
  }
  a{
    display:flex;
    padding:20px;
    font-size:18px;
    color: rgba(0, 0, 0, 0.5);
    i{
      text-shadow:3px 3px 0 rgba(0,0,0,.1);
      display:inline-block;
      margin-right:10px;
      color:$c_1;
    }
  }
  a.active{
    background:rgba(0, 0, 0, 0.2);
    color:$c_1;
  }
}






@media (min-width: 800px) {
  .app-wrap{
    flex-direction:row
  }
  /* 命令不给强时  隐藏式不起作用的*/
  .app-wrap .app-header,.app-wrap .app-footer{
    display:none;

  }
    .sidebar {
    display: flex;
    flex-direction: column;
    background:$bj_1;
  }
}
