@charset "UTF-8";
body {
  font-family: sans-serif;
  margin: 0;
  color: #727272;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased; }

p {
  margin: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

ul, ol {
  padding: 0; }

li {
  list-style: none; }

.page1 {
  color: rgba(0, 0, 0, 0.5); }

.app-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .app-wrap .app-header {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 2px solid  #fff59d;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    background: #00BCD4;
    color: #fff;
    font-weight: 300px; }
    .app-wrap .app-header .button {
      padding: 15px 10px;
      border-radius: 10px;
      background: rgba(0, 0, 0, 0.1);
      color: #fff;
      font-size: 11px; }
  .app-wrap .app-footer {
    height: 80px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #00BCD4;
    border-top: 1px solid #e6e6e6; }
    .app-wrap .app-footer a {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      display: block;
      color: #fff;
      text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
      padding: 15px;
      text-align: center; }
      .app-wrap .app-footer a:hover {
        border-bottom: 4px solid #ff4081; }
      .app-wrap .app-footer a i {
        font-size: 25px;
        display: block;
        padding-bottom: 10px; }
    .app-wrap .app-footer a.active {
      border-bottom: 4px solid #ff4081; }

.sidebar {
  display: none;
  width: 300px;
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  .sidebar h2 {
    margin: 0;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #fff59d; }
  .sidebar a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5); }
    .sidebar a i {
      text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
      display: inline-block;
      margin-right: 10px;
      color: #fff; }
  .sidebar a.active {
    background: rgba(0, 0, 0, 0.2);
    color: #fff; }

@media (min-width: 800px) {
  .app-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  /* 命令不给强时  隐藏式不起作用的*/
  .app-wrap .app-header, .app-wrap .app-footer {
    display: none; }
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #00BCD4; } }

.red {
  color: #399; }

.content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  overflow-y: scroll;
  background: #fafafa; }

.home {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url(../assets/home-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center; }
  .home .overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    text-transform: uppercase; }
    .home .overlay .inner h3 {
      color: #fff;
      font-weight: 300;
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 38px; }
    .home .overlay .inner button {
      height: 36px;
      border: none;
      border-radius: 12px;
      font-size: 12px;
      background: #00BCD4;
      color: #fff;
      min-width: 100px;
      display: inline-block;
      text-transform: uppercase; }
    .home .overlay .title {
      font-size: 42px;
      gont-weight: 700; }
      .home .overlay .title span:nth-of-type(1) {
        color: #fff; }
      .home .overlay .title span:nth-of-type(2) {
        color: #00BCD4; }

.about {
  font-size: 15px; }
  .about .background {
    background: url(../assets/beauty.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px; }
  .about img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    margin: 0 auto;
    background-color: #fafafa;
    margin-top: -50px;
    border: 1px solid #fafafa; }
  .about h2 {
    font-size: 20px;
    border-left: 5px solid #00BCD4;
    padding-left: 20px;
    margin-left: 16px;
    margin-bottom: 24px;
    color: #00BCD4;
    line-height: 1.5; }
  .about .hobby {
    margin-left: 16px; }
    .about .hobby p {
      line-height: 1.8; }
  .about .email, .about .weixin {
    margin-left: 16px;
    margin-bottom: 10px; }
  .about .weixin {
    margin-bottom: 24px; }
  .about ul {
    margin-left: 16px; }
    .about ul li {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      background: #ff4081;
      text-align: center;
      margin-left: 10px; }
      .about ul li i {
        color: #fff; }

@media (min-width: 768px) {
  .about h2 {
    border-left: none;
    text-align: center;
    border-bottom: 5px solid #00BCD4;
    width: 100px;
    margin: 35px auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px; }
  .about {
    text-align: center;
    line-height: 1.8; } }

.course {
  margin: 0 auto;
  padding: 16px; }
  .course .card {
    background: #fff;
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    line-height: 1.8;
    color: #727272;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); }
    .course .card img {
      max-width: 100%;
      margin: 0 auto;
      display: block;
      border: 1px solid #eee; }
    .course .card .text {
      margin-top: 15px;
      margin-bottom: 15px;
      word-wrap: break-word; }

.blogs {
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .blogs .post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    background: #fff;
    margin-bottom: 40px; }
    .blogs .post .p-header {
      margin: 0;
      height: 100px;
      background: #00BCD4;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-radius: 10px 10px 0 0; }
      .blogs .post .p-header span {
        width: 60px;
        height: 60px;
        border: 1px solid #fff;
        text-align: center;
        line-height: 60px;
        font-size: 20px;
        color: #fff;
        border-radius: 50%;
        margin: 0 auto; }
    .blogs .post .p-content {
      padding: 16px; }
      .blogs .post .p-content h1 {
        font-size: 18px; }
      .blogs .post .p-content .p_bou {
        margin-top: 20px;
        margin-left: 0;
        margin-bottom: 20px; }
        .blogs .post .p-content .p_bou button {
          -webkit-transition: all 450ms ease;
          transition: all 450ms ease;
          padding: 5px 20px;
          color: #ff4081;
          border: 1px solid #ff4081;
          background: #fff;
          border-radius: 20px;
          font-size: 14px;
          display: inline-block; }

@media (min-width: 1068px) {
  .blogs {
    width: 700px;
    margin: 0 auto; } }
